# STRINGS

Conocimos cadenas en el módulo 1, pero ahora es el momento de conocernos mejor. 

Recuerde, podemos crear una **cadena** ingresando texto entre **dos comillas simples o dobles**.

In [ ]:
print ("Python is fun!")

Python is fun!

El delimitador (" o ') utilizado para una cadena no afecta su comportamiento de ninguna manera.

Todo lo que está entre comillas es una cadena, incluso los números.

In [ ]:
print ("42")

42

### BARRA INVERTIDA

En Python, la barra invertida \ es un carácter **Escape** especial, llamado carácter.

Se usa para representar ciertas cosas en una cadena, como nuevas líneas, tabulaciones y otras cosas útiles. 
> Tap Continue to learn more about escaping.

Si desea incluir una comilla en una cadena, debe escapar usando una **barra invertida.**
> Las barras invertidas que usamos para escapar no se muestran en la salida.

In [ ]:
print ('Brian\'s: He\'s. not an angel. He\'s a very naughty boy!')

Puede hacer lo mismo con las comillas dobles.

In [ ]:
print("He said: \"cool!\".")

He said: "cool!".

### NUEVAS LINEAS

La barra invertida también se usa para crear nuevas líneas en el texto.

Para crear una nueva línea usamos \n.

In [ ]:
print (' Uno \n Dos \n Tres')

 Uno
 Dos
 Tres

**TABULACION**


Similar a una nueva línea, podemos crear una tabulación usando \t

In [ ]:
print('\t hey \t there')

	 hey 	 there

RETORNO

\r es el símbolo de retorno:

In [ ]:
print('Hi \r there')

 there

> \r se utiliza para desplazar el cursor al principio de la línea; sin embargo, es posible que no funcione como se esperaba en todos los entornos de Python.

¿Qué pasa si necesitamos incluir el carácter especial en nuestra salida? Por ejemplo, qué pasa si queremos tener \n en la salida. 

En ese caso, simplemente necesitamos escapar usando otra barra invertida.

In [ ]:
print ("Newline is \\n")

Newline is \n

###\n vs \r

¿Cuál es la diferencia entre \n y \r ? 

\n es el carácter de nueva línea, mientras que \r es el retorno de carro. Se diferencian en lo que los utiliza. 

Windows usa \r\n para indicar que se presionó la tecla Intro, mientras que Linux y Unix usan \n .

### NUEVAS LINEAS

\n es útil, pero puede ser engorroso si estamos tratando de formatear mucho texto de varias líneas. 

¡Aunque hay otra manera! Las líneas nuevas se agregan automáticamente para las cadenas creadas con tres comillas.

In [ ]:
print ("""this
is a
multiline
text""")

this
is a
multiline
text

> Esto facilita el formateo de textos largos de varias líneas sin la necesidad de poner explícitamente \n para los saltos de línea.

### TRES CITAS

Cuando usa tres comillas para crear texto, no es necesario que se escapen las comillas

In [ ]:
print ('''
I'm learning,
Python's syntax is easy.
''')

I'm learning,
Python's syntax is easy.

# OPERACIONES CON STRINGS

## CONCATENACIÓN

En Python, las matemáticas funcionan tanto con palabras como con números. 

Entonces, no solo podemos agregar números enteros y flotantes, sino también cadenas, usando algo llamado **concatenación**, que se puede hacer en dos cadenas cualesquiera.

In [1]:
print("spam" + 'eggs')

spameggs

Las cadenas que contienen números todavía se agregan como cadenas en lugar de números enteros.

In [2]:
print("2" + "2")

22

> ¡Pero no intentes agregar una cadena a un número! Aunque pueden parecer similares, son dos entidades diferentes, por lo que esto romperá el código y producirá un error.

Es posible que no pueda sumar cadenas a números enteros, ¡pero puede multiplicar por ellos! 

Al multiplicar una cadena por un número entero, se produce una versión repetida de la cadena original.

In [ ]:
print("spam" * 3)
print(4 * '2')

Pero no intentes multiplicar una cadena por otra cadena. Esto solo generará un error.

In [ ]:
print("test" * "hi")

> Lo mismo ocurrirá si intentas multiplicar una cadena por un flotante, incluso si el flotante es un número entero.

### **RESUMEN**

Algunos puntos clave:

Puede incluir símbolos especiales en una cadena usando la barra invertida: \n para nuevas líneas, \t para tabulaciones, etc. 

En caso de que necesite incluir comillas, debe **escaparlas** usando una barra invertida.
>> Puede sumar cadenas usando el operador más, así como multiplicar una cadena con un número entero, lo que da como resultado una versión repetida de la cadena.

---
# VARIABLES

Una variable le permite almacenar un **valor** asignándolo a un **nombre**. El nombre se puede utilizar para hacer referencia al valor más adelante en el programa.
> Por ejemplo, en el desarrollo de juegos, usaría una variable para almacenar cuántos puntos ha anotado el jugador.

Para asignar una variable, use **un signo igual**

In [ ]:
user = "James"

> En el ejemplo anterior, asignamos la cadena "James" a una variable llamada **user**.

El signo igual se llama **operador de asignación** y se usa para asignar un valor a una variable. 

Puede asignar cualquier tipo de valor a su variable.

In [ ]:
x = 42
y = "Hello"
z = 3.14

### NOMBRES DE VARIABLES

Nombrar sus variables es bastante flexible. Puede utilizar **letras, números y guiones bajos** en los nombres de las variables. Pero **no puede** usar símbolos especiales o comenzar el nombre con un número.
> Recuerde, Python es un lenguaje que distingue entre mayúsculas y minúsculas. Lo que significa que **Apellido** y apellido son dos nombres de variables diferentes.

## TRABAJANDO CON VARIABLES

Entonces, tienes tu variable y la nombraste. Ahora puede usarlos para realizar las operaciones correspondientes, tal como lo hace con números y cadenas. Como esto:
> Puede ver que la variable almacena su valor a lo largo del programa.

In [ ]:
x = 7
print(x)

print(x+3)
print(x)

7
10
7

¿Necesita cambiar el valor de una variable? Fácil. Las variables se pueden reasignar tantas veces como se desee

In [ ]:
x = 123.456
print(x)

x = "This is a string"
print (x + "!")

123.456
This is a string!

> ¡Pero cuidado! Sobrescribir la misma variable con diferentes tipos de datos generalmente no es una buena práctica. Para evitar errores, trate de evitar hacerlo.

Un programa puede incluir múltiples variables, que pueden usarse juntas para producir un resultado.

In [ ]:
a = 8
name = "Bob"
print(a * name)

BobBobBobBobBobBobBobBob

Puede usar la instrucción **del** para eliminar una variable.
> Intentar usar la variable eliminada provoca un error.

In [ ]:
x = 42
del x

Las variables eliminadas se pueden reasignar.

In [ ]:
x = 2
del x
x = 8
print(x)

8

### **INPUT** (ENTRADA)

Algunos programas necesitan recibir información del usuario.

Por ejemplo, un juego puede solicitar el nombre y la edad del usuario como entrada y luego usarlos en el juego. 
La función **input()** solicita al usuario que ingrese y devuelve lo que ingresa como una cadena .

In [ ]:
x = input()
print(x)

hola
hola

Incluso si el usuario ingresa un número como entrada, se procesa como una **cadena**

In [ ]:
x = input()
print ("You entered: " + x)

josias
You entered: josias

La instrucción de input debe ir seguida de paréntesis.

In [ ]:
name = input()
print ("Welcome, " + name)

Josias
Welcome, Josias

Puede proporcionar una cadena a **input()** entre paréntesis, produciendo un mensaje de solicitud.

In [ ]:
name = input("Ingrese su nombre: ")
print ("Hola, " + name)

Ingrese su nombre: Josias
Hola, Josias

> El mensaje de solicitud le dice al usuario qué entrada está solicitando el programa, por lo que es importante asegurarse de que esté claro.

Entonces sabemos que la función **input()** devuelve una cadena. Pero, ¿y si necesitamos que sea otra cosa, como un número? No hay problema, ¡podemos hacerlo totalmente! Supongamos que hemos tomado la edad del usuario como entrada. Para convertirlo a un número, podemos usar la función **int()**:

In [ ]:
edad = int(input())
print(edad)

35
35

> Esto lo convertirá de una cadena a un número entero.

Similar a la función **int()**, la función **float()** convierte una cadena en un flotante:

In [ ]:
height = float(input())
print(height)

5
5.0

A veces es necesario usar un número en una concatenación de cadenas. 

Esto se puede hacer usando la función **str()**, que convierte un número en una cadena.

In [ ]:
age = 42
print("His age is " + str(age))

His age is 42

Lo último que hay que mencionar es que puede usar **input()** varias veces para tomar varias entradas de usuario.

In [ ]:
name = input()
age = input()
print(name + "is " + age)

# OPERADORES IN-PLACE

**Los operadores in situ** le permiten escribir código como ' **x = x + 3** ' de manera más concisa, como ' **x += 3** '.

In [7]:
x = 2
print(x)

x += 3
print(x)

2
5

Los operadores in situ se pueden utilizar para cualquier operación numérica (+, -, *, /, %, **, //).

In [8]:
x = 8

x += 2
print (x)

x/= 3
print(x)

x **= 5
print(x)

10
3.3333333333333335
411.5226337448561

También puede usar operadores in-place para la concatenación de cadenas

In [9]:
x = "spam"
print(x)

x += "eggs"
print(x)

spam
spameggs

Hemos cubierto una serie de temas importantes, como variables, entrada y operadores. Estos se pueden usar juntos para hacer un programa más complejo. 

Por ejemplo, hagamos un programa que tome **millas** como entrada y genere el valor de **km** correspondiente

In [10]:
miles = int(input())
km = miles * 1.68934

print (km)

50
84.467